/queen-padme-tales/screenplay/Queen-Padme-Tales--Nighttime-Flight.screenplay-text.xhtml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Nighttime-Flight.screenplay-xml.xml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Planting-Trees.screenplay-text.xhtml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Planting-Trees.screenplay-xml.xml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Queen-Amidala-vs-the-Klingon-Warriors.screenplay-text.xhtml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Queen-Amidala-vs-the-Klingon-Warriors.screenplay-xml.xml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Take-It-Over.screenplay-text.xhtml
/queen-padme-tales/screenplay/Queen-Padme-Tales--Take-It-Over.screenplay-xml.xml
/queen-padme-tales/screenplay/Queen-Padme-Tales--The-Fifth-Sith.screenplay-text.xhtml
/queen-padme-tales/screenplay/Queen-Padme-Tales--The-Fifth-Sith.screenplay-xml.xml
